*{
  margin:0;padding:0;
}
body{
  background:url("img/unnamed\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pkmn-card {
  width:215px;
  height: 300px;
  margin: 15px;
}
.center{
  text-align: center;
}
h1{
  color: tomato;
}
@media (max-width: 480px) {
  body {
     background:black;
  }
}
